# Vim temporary files
*~
*.swp
*.swo

# Behaviour Tree Creator log
ApplicationBehaviourCreator.log

# Releases
Release

# Example AIs
ExampleAIs

# Behavior Tree Creator
BehaviourTreeCreator.exe
Blockdefinitions.xml
scrollImage.bmp
clipboard

# 'Nauts Upgrades spreadsheet
Naut\ upgrades.ods
tmp/
